
/*Cuadro de formulario*/
form{
	width:400px;
	padding:20px;
	border-radius:10px;
    border:solid 2px black;
	margin:auto;
	background-color:#ccc;
}

/* Etiquetas 
/*Nombre/apellidos/email/mensaje*/
form label{
	width:82px;
	font-weight:bold;
	display:inline-block;
}

/* Diseño los cuadros de relleno */
/*Nombre/apellidos/email*/

form input[type="text"],
form input[type="email"]{
	width:250px;
	padding:7px 10px;
	border:1px solid;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:10px 0;
	display:inline-block;
}

/* Diseño del cuadro de mensaje */
textarea{
	width:100%;
	height:150px;
	border:1px solid ;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}

/* Diseño boton enviar */
form input[type="submit"]{
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: black;
    color:#fff;
    border-radius: 8px 8px 8px 8px;
    width:100%;
    margin-bottom:5px;
    margin-top:20px;
} 

/* Diseño boton borrar */
form input[type="reset"]{
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: black;
    color:#fff;
    border-radius: 8px 8px 8px 8px;
    width:100%;
    margin-bottom:5px;
} 

/* Efecto cuando pasa el mouse el boton enviar */
form input[type="submit"]:hover{
	cursor:pointer;
    background:rgba(13, 11, 112, 0.959);
    color:#fff;
}

/* Efecto cuando pasa el mouse el boton borrar */
form input[type="reset"]:hover{
	cursor:pointer;
    background: rgba(13, 11, 112, 0.959);
    color:#fff;
}

